.calculator {
    height: 320px;
    width: 275px;
    border-radius: 5px;
    overflow: hidden;
    background-color: linear-gradient(
        to right,
         rgb(22, 24, 23),
         rgb(4, 163, 63));;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;

}

footer{
    color: black;
    font-size: 14px;
    font-weight: bold;
}